h1 {
  margin: 5px;
	font-family: cursive;
	color: #f8ff20;
	background: linear-gradient(to right, rgb(3, 91, 255), #01eaff);
}

li{
margin: 5px;
	font-family: cursive;
	color: #ffffff;
	background: linear-gradient(to right, rgb(3, 91, 255), #01eaff);
}

p{
  color: blue;
}